* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}
/* beginning of header section */
header {
  display: flex;
  background-color: var(--tertiary);
  justify-content: space-between;
}

nav a {
  display: flex;
  text-decoration: none;
  padding: 5px 20px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.1em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

h1.name {
  background-color: var(--secondary);
  color: var(--tertiary);
  padding: 5px;
  margin-top: 2px;
  margin-bottom: 13px;
  padding-left: 60px;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
  cursor: pointer;
}

nav {
  display: flex;
  margin-right: 10%;
}
/* end of header section */


/* beginning of hero div */
.banner-text {
  margin: 3px;
  font-size: xx-large;
}

.hero-image {
  position: relative;
  flex-wrap: wrap;
  background: linear-gradient(0deg, rgba(31, 83, 161, 0.534), rgba(31, 83, 161, 0.534)), url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  height: 300px;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-text {
  color: var(--tertiary);
  background-color: var(--secondary);
  margin-top: 12%;
  margin-bottom: 2%;
  margin-right: 5%;
}
/* end of hero div */

/* beginning of body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

/* beginning of about me section */
h2#aboutmetitle {
  border-right: 3px solid var(--primary);
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  font-size: xxx-large;
}

section.aboutme {
  display: flex;
  justify-content: space-around !important;
  margin-top: 30px;
  margin-bottom: 4%;
}

p#aboutmetext {
  flex: 0 0 77%;
}
/* end of about me section */

/* beginning of work section */
h2#worktitle {
  border-right: 3px solid var(--primary);
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  margin-left: 14px;
  font-size: xxx-large;
}

img {
  display: flex;
}

figure {
  display: flex;
}

section.work {
  display: flex;
}

h3.surftext,
h5.surftext,
h3.ledtext,
h5.ledtext,
h3.calctext,
h5.calctext,
h3.pasteltext,
h5.pasteltext,
h3.runtext,
h5.runtext {
  display: flex;
  color: var(--dark);
  flex-wrap: wrap;
  background-color: var(--secondary);
  border: 3px solid var(--secondary);
}

h3.surftext,
h5.surftext {
  margin-right: 85%;
}

h3.ledtext,
h5.ledtext {
  margin-right: 70%;
}

h3.pasteltext,
h5.pasteltext {
  margin-right: 60%;
}

h3.runtext,
h5.runtext {
  margin-right: 70%;
}

h3.calctext,
h5.calctext {
  margin-right: 70%;
}

h3.calctext,
h3.ledtext,
h3.pasteltext,
h3.runtext {
  margin-top: 20%;
}

h5.surftext,
h5.ledtext,
h5.calctext,
h5.pasteltext,
h5.runtext {
  margin-bottom: 2.5%;

}

figure {
  flex: 0 0 77%;
  flex-wrap: wrap;
}

figure.surfimage:hover,
figure.ledimage:hover,
figure.calculator:hover,
figure.pastel:hover,
figure.run:hover {
  cursor: pointer;
  background-blend-mode: normal;
}

figure.surfimage,
figure.ledimage,
figure.calculator,
figure.pastel,
figure.run {
  background-color: rgba(20, 53, 94, 0.596);
  background-blend-mode: overlay;
}

figure.surfimage {
  background-image: url(../images/02-portfolio-4.jpg);
  background-position: top;
  background-size: cover;
  border: 8px solid var(--secondary);
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 500px;
  justify-content: flex-end;
  margin-left: 12%;
  margin-right: -500%;
}

figure.ledimage {
  background-image: url(../images/02-portfolio-1.jpg);
  background-position: top;
  background-size: cover;
  flex-basis: calc(50% - 1em);
  border: 8px solid var(--secondary);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 12%;
  margin-right: -200%;
  margin-top: 20px;
  padding-top: 2%;
}

figure.calculator {
  background-image: url(../images/02-portfolio-2.jpg);
  background-position: top;
  background-size: cover;
  flex-basis: calc(50% - 1em);
  border: 8px solid var(--secondary);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: -1165px;
  margin-left: 310%;
  margin-top: -251px;
  padding-top: 2%;
}

figure.pastel {
  background-image: url(../images/02-portfolio-3.jpg);
  background-position: top;
  background-size: cover;
  flex-basis: calc(50% - 1em);
  border: 8px solid var(--secondary);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 12%;
  margin-right: -200%;
  margin-top: 30px;
}

figure.run {
  background-image: url(../images/02-run-buddy.jpg);
  background-position: top;
  background-size: cover;
  flex-basis: calc(50% - 1em);
  border: 8px solid var(--secondary);
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: -1165px;
  margin-left: 310%;
  margin-top: -248px;
}
/* end of work section */
/* end of body section */

/* beginning of footer contact me */
footer.contactme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3%;
}

li.contactme {
  list-style: none;
  margin: 14%;
}

h2#contactmetitle {
  flex: 0 0 20%;
  border-right: 3px solid var(--primary);
  text-align: right;
  padding: 20px;
  margin-left: 14px;
  font-size: xxx-large;
}

ul.contactme {
  display: flex;
  color: var(--dark);
  justify-content: flex-end;
  flex: 0 0 77%;
  margin-left: -20%;
  padding-right: 20%;
}

ul a {
  text-decoration: none;
  display: flex;
  color: var(--dark);
  list-style: none;
  font-size: larger;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.15em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  padding-bottom: 10px;
}

ul a:hover {
  background-size: 100% 100%;
  color: var(--secondary);
  cursor: pointer;

}
/* end of footer contact me */

/* header edit */
h3 {
  font-size: xx-large;
  margin-top: 5%;
}

h5 {
  font-size: medium;
}

/* beginning of media queries */
@media screen and (max-width: 480px) {
  header {
    align-items: center;
  }

  footer.contactme {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  section.aboutme {
    flex-direction: column;
    text-align: center;
  }

  footer.contactme {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  section.work {
    flex-direction: column;
    text-align: center;
  }

}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1200px) {}